:root {
    /* ## Colors */

    /* ### Primary */

    --clr-primary-palette-300: hsl(35, 77%, 62%);
    --clr-primary-palette-400: hsl(5, 85%, 63%);

    /* ### Neutral */

    --clr-neutral-palette-50: hsl(36, 100%, 99%);
    --clr-neutral-palette-400: hsl(233, 8%, 79%);
    --clr-neutral-palette-700: hsl(236, 13%, 42%);
    --clr-neutral-palette-900: hsl(240, 100%, 5%);

    /* ## Typography */

    /* ### Body Copy */
    --fs-nav: 1.125rem;
    --fs-heading-xl: 2.5rem;
    --fs-heading-l: 2rem;
    --fs-heading-m: 2rem;
    --fs-heading-s: 1.25rem;
    --fs-heading-xs: 1.125rem;
    --fs-body: 0.9375rem;
    --fs-btn: 0.875rem;


    --ff-primary: 'Inter',
        sans-serif;

    --fw-400: 400;
    --fw-700: 700;
    --fw-800: 800;

}

@media (min-width: 50em) {
    :root {
        --fs-nav: 0.9375rem;
        --fs-heading-xl: 3.5rem;
        --fs-heading-l: 2.5rem;
    }
}

html {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}



body {
    background-color: var(--clr-neutral-palette-50);
    color: var(--clr-neutral-palette-700);
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    font-weight: var(--fw-400);
    line-height: 1.74em;
    padding-left: 2rem;
    padding-right: 2rem;
    margin: 0;
    min-height: 100vh;
}

/* any ul that has a class on it has these properties */
ul[class] {
    list-style: none;
}

a {
    font-weight: inherit;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
}

button {
    all: unset;
}

button,
input[type="submit"],
input[type="reset"] {
    cursor: pointer;
    display: block;
}


img {
    max-width: 100%;
    display: block;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.fs-nav {
    font-size: var(--fs-nav);
}

.fs-heading-xl {
    line-height: 1;
    font-size: var(--fs-heading-xl);
    font-weight: var(--fw-800);
    color: var(--clr-neutral-palette-900);
}

.fs-heading-l {
    font-size: var(--fs-heading-l);
    font-weight: var(--fw-700);
}

.fs-heading-m {
    font-size: var(--fs-heading-m);
    font-weight: var(--fw-700);
    line-height: 1;
}

.fs-heading-s {
    font-size: var(--fs-heading-s);
    font-weight: var(--fw-800);
    line-height: 1.2;
}

.fs-heading-xs {
    font-size: var(--fs-heading-xs);
    font-weight: var(--fw-800);
    line-height: 1.34;
}

.fs-heading-accent {
    color: var(--clr-primary-palette-300);
}

.fs-heading-dark {
    color: var(--clr-neutral-palette-900);
}

.fs-heading-light {
    color: var(--clr-neutral-palette-50);
}

.fs-heading-neutral {
    color: var(--clr-neutral-palette-400);
}

.container {
    width: 100%;
    min-width: 20ch;
    max-width: 69.375rem;
    margin: 0 auto;
}

header {
    padding: 1.75rem 0 2rem;
}

main {
    padding: 0 0 5rem;
}

.logo {
    max-width: 2.75rem;
}

.nav__toggle {
    position: relative;
    z-index: 4;
}


.nav__item+.nav__item {
    margin-top: 1.5rem;
}

.nav__btn--close {
    display: none;
}

.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 2;
}

.active.header__nav .overlay {
    display: block;
    background: var(--clr-neutral-palette-900);
    opacity: .50;

}

.nav__list--mobile {
    display: none;
}

.active.header__nav .nav__list--mobile {
    display: block;
    position: absolute;
    background-color: var(--clr-neutral-palette-50);
    inset: auto 0 0 auto;
    padding: 9rem 1.8125rem 19.3125rem 1.5rem;
    width: 16rem;
    height: 100vh;
    z-index: 3;
    animation: slidein 0.8s forwards;
}

@keyframes slidein {
    from {
        margin-left: 0%;
        width: 0;
    }

    to {
        margin-left: 100%;
        width: -16rem;
    }
}

.active.header__nav .nav__btn--open {
    display: none;
}

.active.header__nav .nav__btn--close {
    display: block;
    z-index: 3;
}

.fs-heading-xl {
    margin-top: 1.5rem;
}

.content {
    margin: 1rem auto 4rem;
}

.fs-btn {
    display: inline-block;
    max-width: 11.5625rem;
    background-color: var(--clr-primary-palette-400);
    color: var(--clr-neutral-palette-50);
    font-size: var(--fs-btn);
    text-transform: uppercase;
    font-weight: var(--fw-700);
    letter-spacing: 4.38px;
    padding: 0.8125rem 1.9375rem 0.6875rem 1.9375rem;
    margin-top: 1.5rem;
}

.new {

    background-color: var(--clr-neutral-palette-900);
    color: var(--clr-neutral-palette-400);
    margin: 0 auto;
    padding: 1.5rem 1.25rem 1.5rem;
}

.new__section {
    padding: 1.9375rem 0 1.8125rem;
}

.fs-heading-s {
    margin-bottom: 0.5rem;
}

.new__section:not(:nth-child(4)) {
    border-bottom: 1px solid var(--clr-neutral-palette-700);
}

.new__section:nth-child(2) {
    padding: 2.125rem 0 1.8125rem;
}

.articles--wrapper {
    margin-top: 4rem;
}

.article {
    display: grid;
    grid-template-columns: minmax(min-content, 6.25rem) minmax(min-content, 13.6875rem);
    grid-template-rows: minmax(min-content, 2rem) minmax(min-content, 1.5rem) minmax(min-content, 3.25rem);
    grid-template-areas: 'img article-num' 'img title' 'img body';
    gap: 0 1.5rem;
}

.article+.article {
    margin-top: 2rem;
}

.article__img {
    grid-area: img;
}

.article__img {
    max-width: 100%;
    height: 127px;
    object-fit: cover;
}

.article__num {
    grid-area: article-num;
}

.article__title {
    grid-area: title;
}

.fs-heading-xs {
    margin: 0.75rem 0 0.5625rem;
}

.article__body {
    grid-area: body;
}

.attribution {
    color: var(--clr-neutral-palette-700);
    font-size: 0.6875rem;
    text-align: center;
}

.attribution a {
    color: var(--clr-primary-palette-300);
    font-weight: var(--fw-800);
}

@media (min-width: 50em) {
    body {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    header {
        padding: 5.5625rem 0 3.4438rem;
    }

    main {
        padding: 0 0 8.0625rem;
    }

    .logo {
        max-width: 100%;
    }

    .nav__toggle {
        display: none;
    }

    .nav__list {
        display: flex;
    }


    .nav__item+.nav__item {
        margin-top: 0;
        margin-left: 2.5625rem;
    }

    .fs-nav {
        cursor: pointer;
    }

    .fs-nav:active,
    .fs-nav:hover {
        color: var(--clr-primary-palette-400);
    }


    .d-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(min-content, 21.875rem));
        grid-template-rows: minmax(min-content, 18.75rem) minmax(min-content, 11.4375rem) minmax(min-content, 8.0625rem);
        grid-template-areas: 'img img new' 'heading content new' 'articles--wrapper articles--wrapper articles--wrapper';
        gap: 1.75rem 1.875rem;
    }

    .hero-img {
        grid-area: img;
    }

    .hero-img img {
        max-width: 100%;
        height: 300px;
        object-fit: cover;
    }

    .fs-heading-xl {
        grid-area: heading;
        margin: 0;
        align-self: center;
    }

    .content {
        grid-area: content;
        margin: 0;
        align-self: flex-end;
    }


    .fs-btn {
        margin-top: 1.8125rem;
        transition: all .25s ease-in;
    }

    .fs-btn:active,
    .fs-btn:hover {
        background-color: var(--clr-neutral-palette-900);
    }

    /* new  */

    .new {
        max-width: 21.875rem;
        padding: 2rem 1.5rem 1.9375rem;
        grid-area: new;
    }

    .new__section .fs-heading-s {
        cursor: pointer;
    }

    .new__section .fs-heading-s:hover,
    .new__section .fs-heading-s:active {
        color: var(--clr-primary-palette-300);
    }


    /* articles--wrapper  */

    .articles--wrapper {
        display: grid;
        grid-template-columns: repeat(3, minmax(min-content, 21.875rem));
        grid-template-rows: minmax(min-content, 8.0625rem);
        gap: 0 1.875rem;
        padding: 0;
        margin-top: 4.4375rem;
        grid-area: articles--wrapper;
    }

    .article {
        grid-template-columns: minmax(min-content, 6.25rem) minmax(min-content, 14.125rem);
        grid-template-rows: minmax(min-content, 2rem) minmax(min-content, 1.5rem) minmax(min-content, 3.25rem);
        gap: 0 1.5rem;
    }

    .article+.article {
        margin-top: 0;
    }

    .article__title {
        cursor: pointer;
    }

    .article__title:hover,
    .article__title:active {
        color: var(--clr-primary-palette-400);
    }

}